/* General styling */
.App {
  text-align: center;
  background-color: #000; /* Dark background */
  padding: 20px;
  height: 100vh; /* Ensure the container takes up the full viewport height */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

/* Photo container */
.photo-container {
  display: flex;
  justify-content: center;
  max-width: 80%; /* Limit the width of the image container */
}

/* Photo wrapper container */
.photo-wrapper-container {
  position: relative; /* Position the container relative to its parent */
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease; /* Smooth transition for shifting the container */
}

.photo-wrapper-container.shift-left {
  transform: translateX(-30%); /* Adjust the percentage as needed */
}

/* Photo wrapper */
.photo-wrapper {
  width: 60%; /* Adjust the width of the container */
  height: auto; /* Allow the height to adjust proportionally */
  max-width: 60%; /* Limit the width of the image */
  max-height: 80vh; /* Limit the height of the image */
  border-radius: 10px; /* Rounded corners for the image */
  overflow: hidden; /* Hide any overflowing content */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow to the image */
  display: flex; /* Use flexbox to center the image */
  align-items: center; /* Center the image vertically */
  justify-content: flex-start; /* Start align the image horizontally */
  transition: transform 0.5s ease; /* Smooth transition for shifting the image */
}

.photo-wrapper img {
  width: 100%; /* Ensure the image fills its container */
  height: auto; /* Allow the height to adjust proportionally */
  max-width: 100%; /* Ensure the image fits within its container */
  max-height: 100%; /* Ensure the image fits within its container */
}

/* Description wrapper */
.description-wrapper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  padding: 20px;
  backdrop-filter: blur(10px); /* Apply background blur */
  background-color: rgba(255, 255, 255, 0.1); /* Transparent white background */
  border-radius: 10px; /* Rounded corners */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Transparent border */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add shadow */
  z-index: 2;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px; /* Larger font size */
  line-height: 2.4; /* Increased line height for better readability */
  letter-spacing: 0.5px; /* Spacing out the letters */
  overflow-y: auto; /* Enable vertical scrolling */
}

.description-wrapper.open {
  display: block;
}

/* Information button container */
.info-button-container {
  position: absolute;
  bottom: 20px; /* Adjust bottom position */
  left: 20px; /* Adjust left position */
}

.info-button {
  background-color: white; /* Set button background color to white */
  color: black; /* Set button text color to black */
  border: 1px solid black; /* Add black border around the button */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}

.info-button:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.info-button:focus {
  outline: none; /* Remove focus outline */
}

/* Media queries for different device sizes */
@media screen and (max-width: 768px) {
  .photo-wrapper-container.shift-left {
    transform: translateX(-20%); /* Adjust the percentage as needed */
  }
  
  .description-wrapper {
    width: 80%; /* Adjust width for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .photo-wrapper-container.shift-left {
    transform: translateX(-10%); /* Adjust the percentage as needed */
  }
  
  .description-wrapper {
    width: 90%; /* Adjust width for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
    font-size: 20px; /* Decrease font size for smaller screens */
    line-height: 2; /* Adjust line height for smaller screens */
  }
}
